@page "/tarefas"
@attribute [Authorize]

<PageTitle>Tarefas</PageTitle>

<h3>Bem-Vindo na Página das Tarefas</h3>

<a href="@($"TarefaDetalhes")" class="btn btn-success">Adicionar uma Nova Tarefa</a>

<br />
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Curta Decrição</th>
        <th>Data Hora de Início</th>
        <th>Data Hora de Fim</th>
        <th>Projeto Associado</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Tasks)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CurtaDescricao</td>
            <td>@item.DataHoraInicio</td>
            <td>@item.DataHoraFim</td>
            @if (@item.ProjetoId is null)
            {
                <td>Não tem projeto associado</td>
            }
            else
            {
                <td>@item.Projeto?.Nome</td>
            }
            <td>
                <a href="@($"AssociaProjeto/{item.Id}")" class="btn btn-success">Associar Projeto</a>
            </td>
            <td>
                <a href="@($"TarefaDetalhes/{item.Id}")" class="btn btn-success">Editar Tarefa</a>
            </td>
        </tr>
    }
    </tbody>
</table>