@page "/utilizadores"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Utilizadores</PageTitle>

<h3>Bem-Vindo na Página dos Utilizadores</h3>

<a href="@($"UtilizadorDetalhes")" class="btn btn-success">Adicionar um Novo Utilizador</a>

<br />
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Utilizadors)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Username</td>
            <td>@item.Password</td>
            <td>
                <a href="@($"UtilizadorDetalhes/{item.Id}")" class="btn btn-success">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>