@page "/utilizadordetalhes"
@page "/utilizadordetalhes/{id}"
@attribute [Authorize(Roles = "Admin")]

@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Adicione um novo Utilizador</PageTitle>
    <h3>Adicione um novo Utilizador</h3>
}
else
{
    <PageTitle>Atualize Utilizador</PageTitle>
    <h3>Atualize Utilizador</h3>
}

<div class="row">
    <EditForm Model="@Utilizador" OnValidSubmit="@HandleValidResquest" OnInvalidSubmit="@HandleFailedResquest">
        <div class="form-group">
            <label class="col-md-3">Email</label>
            <InputText type="email" class="col-md-8 form-control" @bind-Value="@Utilizador.Email" required ></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Username</label>
            <InputText type="text" class="col-md-8 form-control" @bind-Value="@Utilizador.Username" required></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Password</label>
            <InputText type="password" class="col-md-8 form-control" @bind-Value="@Utilizador.Password" required></InputText>
        </div>
        <br />
        
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Guarda o Utilizador</button>
            <a @onclick="@GoToUtilizadors" class="btn btn-primary">Cancelar</a>
            
            <br />
            
            @if (!string.IsNullOrEmpty(Id))
            {
                <a @onclick="@DeleteUtilizador" class="btn btn-danger">Apagar Utilizador</a>
            }
        </div>
        <br />
        <p style="color: red;">@Message</p>
    </EditForm>
</div>