@page "/projetos"

<PageTitle>Projetos</PageTitle>

<h3>Bem-Vindo na Página dos Projetos</h3>

<a href="@($"ProjetoDetalhes")" class="btn btn-success">Adicionar um Novo Projeto</a>

<br />
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Nome do Cliente</th>
        <th>Preço Por Hora</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Projects)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.NomeCliente</td>
            <td>@item.PrecoPorHora</td>
            <td>
                <a href="@($"ProjetoDetalhes/{item.Id}")" class="btn btn-success">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>