@page "/projetodetalhes"
@page "/projetodetalhes/{id}"

@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Adicione um novo Projeto</PageTitle>
    <h3>Adicione um novo Projeto</h3>
}
else
{
    <PageTitle>Atualize o Projeto</PageTitle>
    <h3>Atualize o Projeto</h3>
}

<div class="row">
    <EditForm Model="@Projeto" OnValidSubmit="@HandleValidResquest" OnInvalidSubmit="@HandleFailedResquest">
        <div class="form-group">
            <label class="col-md-3">Nome Do Projeto</label>
            <InputText type="text" class="col-md-8 form-control" @bind-Value="@Projeto.Nome" required></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Nome Do Cliente</label>
            <InputText type="text" class="col-md-8 form-control" @bind-Value="@Projeto.NomeCliente" required></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Preço por Hora</label>
            <InputNumber type="number" min="0" step="0.01" class="col-md-8 form-control" @bind-Value="@Projeto.PrecoPorHora" required></InputNumber>
        </div>
        <br />
        
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Guarda o Projeto</button>
            <a @onclick="@GoToProjects" class="btn btn-primary">Cancelar</a>
            
            <br />
            
            @if (!string.IsNullOrEmpty(Id))
            {
                <a @onclick="@DeleteProjeto" class="btn btn-danger">Apagar Projeto</a>
            }
        </div>
        <br />
        <p style="color: red;">@Message</p>
    </EditForm>
</div>