@page "/login"
<h3>Login</h3>

<div class="row">
    <EditForm Model="@Utilizador" OnValidSubmit="@HandleValidResquest" OnInvalidSubmit="@HandleFailedResquest">
        <div class="form-group">
            <label class="col-md-3">Email</label>
            <InputText class="col-md-8 form-control" @bind-Value="@Utilizador.Email"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Username</label>
            <InputText class="col-md-8 form-control" @bind-Value="@Utilizador.Username"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Password</label>
            <InputText class="col-md-8 form-control" @bind-Value="@Utilizador.Password"></InputText>
        </div>
        <br />
        
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Guarda o Utilizador</button>
            <a @onclick="@GoToUtilizadors" class="btn btn-primary">Cancelar</a>
            
            <br />
            
            @if (!string.IsNullOrEmpty(Id))
            {
                <a @onclick="@DeleteUtilizador" class="btn btn-danger">Apagar Utilizador</a>
            }
        </div>
        <br />
        <p style="color: red;">@Message</p>
    </EditForm>
</div>